<%= render :layout => 'widgets/container', :locals => {:title => "Allas configuration" } do %>
  <% projects = User.new.groups.map(&:name).filter { |p| p.start_with? "project_" } %>
  <div id="alerts-container"></div>
  <%= bootstrap_form_tag url: '/pun/sys/ood-allas-auth/auth', remote: true, html: { id: "auth_form" } do |f| %>
    <%= f.select :project, projects, { label: "Project"} %>
    <%= f.password_field :password %>
    <%= f.primary "Submit" %>
  <% end %>
  <script>
    function addAlert(title, content, type = "info") {
      const alertHtml = `
<div class="alert alert-${type} alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
  <h4>${title}</h4>
  <p>${content}</p>
</div>
      `;
      $("#alerts-container").append(alertHtml);
    }
    (function () {
      <% if params["success"] == "true" %>
        <% CSCConfiguration.reset_favorite_paths %>
        <% RcloneUtil.class_variable_set(:@@extra_env, nil) %>
        <% load "config/initializers/rclone.rb" %>
        <% load "/scratch/project_2001659/robkarls/ood/ood-initializers/dashboard/rclone.rb" %>
        addAlert("Success", 'Allas configuration successful.', "success");
    <% end %>
    })()
    $("#auth_form").on("ajax:success", function(event, data) {
        const url = new URL(window.location);
        const params = new URLSearchParams(url.search);
        url.searchParams.delete("success");
        url.searchParams.append("success", "true");
        window.location.href = url;
    });
    $("#auth_form").on("ajax:error", function(event, data) {
      console.log(event, data);
      const xhr = event.originalEvent.detail[2];
      const responseText = xhr.responseText;
      addAlert("Error", `Allas configuration failed: ${responseText}`, "danger");
    });
  </script>
<% end %>
