<%= render :layout => 'widgets/container', :locals => {:title => "Notifications", :id => "notifications" } do %>
  <div class="warnings">
    <%- CSCQuota.get.select{ |quota| quota.insufficient?(threshold: Configuration.quota_threshold ) }.sort_by(&:percent_total_usage).reverse.each do |quota| -%>
      <%= render :partial => 'widgets/notifications/quota', :locals => {:quota => quota} -%>
    <%- end -%>
    <% CSCBalance.get.select{ |balance| balance.insufficient?(threshold: Configuration.balance_threshold) }.sort_by(&:percent_usage).reverse.each do |balance| %>
      <%= render :partial => 'widgets/notifications/balance', :locals => {:balance => balance} -%>
    <% end %>
    <button type="button" class="btn btn-outline-secondary" id="show_all_warnings" onClick="showAllWarnings()">Show all hidden warnings</button>
  </div>
<% end %>
<%= render :partial => 'widgets/notifications/style' %>
<%= render :partial => 'widgets/notifications/js' %>
