<% quotas = CSCQuota.get.select{ |quota| quota.insufficient?(threshold: Configuration.quota_threshold ) }.sort_by(&:percent_total_usage).reverse %>
<% balances = CSCBalance.get.select{ |balance| balance.insufficient?(threshold: Configuration.balance_threshold) }.sort_by(&:percent_usage).reverse %>

<%= render :layout => 'widgets/container', :locals => {:title => "Notifications", :id => "notifications" } do %>
  <% if quotas.length + balances.length == 0 %>
    <p>You have no notifications.</p>
  <% end %>
  <div class="warnings">
    <%= render :partial => 'widgets/notifications/quota', :collection => quotas -%>
    <%= render :partial => 'widgets/notifications/balance', :collection => balances -%>
    <button type="button" class="btn btn-outline-secondary" id="show_all_warnings" onClick="showAllWarnings()">Show all hidden warnings</button>
  </div>
<% end %>
<%= render :partial => 'widgets/notifications/style' %>
<%= render :partial => 'widgets/notifications/js' %>
