<div class="notification notification-warning" data-path="<%= quota.path -%>" data-type="<%= quota.resource_type -%>">
  <i class="fas fa-exclamation-triangle notification-icon"></i>
  <div class="notification-content">
    <div class="d-flex justify-content-between">
      <h5 class="notification-title">Quota warning for <%= link_to OodAppkit.files.url(path: quota.path).to_s, class: "", target: "_blank" do -%>
        <%= quota.path %>
      <% end %>
      </h5>
      <button type="button" class="btn btn-outline-secondary btn-sm" onClick="hideQuotaWarning('<%= quota.path -%>', '<%= quota.resource_type -%>')"><i class="fas fa-eye-slash"></i> Hide</button>

    </div>
    <p class="notification-message">
    <%= quota.to_s %>
    <%= render( partial: "widgets/progress_bar", locals: { percent: quota.percent_total_usage }) %>
    </p>
  </div>
</div>
